/* Eléments principaux de la page */
body {
	background: url('../Images/background.jpg');
	background-size: cover;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
}

#bloc_page {
	width: 900px;
	margin: auto;
}

/* Navigation */
ul {
	list-style-type: none;
	display: grid;
}

li {
	margin-bottom: 15px;
}

a {
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;
}

a:hover {
	color: #760001;
	border-bottom: 3px solid #760001;
}